/* #region about login */
html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f8ff;
    min-width: 400px;
    /* Login 너비와 동일하게 설정 */
    min-height: 600px;
    /* Login 높이와 동일하게 설정 */
    margin: 0;
    padding: 0;
}

#loginForm form {
    width: 400px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 70px;
    border: 5px solid #e0f0ff;
    display: flex;
    /* 플렉스 박스 활성화 */
    flex-direction: column;
    /* 내용물을 세로로 정렬 */
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#loginForm #logo {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding-bottom: 60px;
}

#loginForm table {
    width: 100%;
    margin: 45 auto;
    text-align: center;
}

#loginForm .Input {
    margin-bottom: 15px;
}

#loginForm .Input table {
    width: 100%;
    border-collapse: collapse;
    /* 셀 간의 테두리 겹침 제거 */
}

#loginForm .Input td {
    padding: 8px;
    /* 셀 안쪽 여백 */
    text-align: center;
    /* 셀 내용 중앙 정렬 */
}

#loginbutton,
#createAccount {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    ;
}

/*로그인 버튼*/
#loginbutton {
    margin-top: 50px;
    /* 로그인 버튼 위쪽 간격 */
    background-color: #006AFF;
    color: #ffffff;
}

#loginbutton:hover {
    background-color: #012E6D;
    color: #ffffff;
}

/*계정생성 버튼*/
#createAccount {
    background-color: #ffffff;
    text-decoration: underline;
    /* 밑줄 추가 */
    text-underline-offset: 3px;
    /* 밑줄과 텍스트 사이 간격 */
}

/* #endregion */

/* #region about main content */

header {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 10;
    /* 다른 요소들보다 위에 표시 */
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
}

header #logo {
    height: 120px;
    /* 로고 크기 조정 */
    width: 210px;
    margin: 10px 40px 0px 40px;
}

header .top2 {
    display: inline-flex;
    flex-direction: row;
    height: 120px;
    width: 360px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d9d9d9;
    margin-left: 15px;
    margin-right: 20px;
}

.top2 #date {
    padding: 10px;
    margin-left: 5px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    color: #333;
}

.top2 #line1 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 24px;
}

.top2 #line2 {
    width: 135px;
    font-size: 50px;
    margin-top: 5px;
}

header #status {
    display: flex;
    flex-direction: column;
    /* 현재 시간과 참가자 수를 세로로 배치 */
    padding: 10px;
    margin-right: 10px;
}

#status #time {
    display: inline-flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #333;
    gap: 5px;
}

#time #hhmm {
    font-size: 56px;
}

#time #ampm {
    bottom: 0;
}

#participants {
    white-space: nowrap;
    /* 텍스트를 한 줄로 유지 */
    display: inline-flex;
    flex-direction: row;
    vertical-align: middle;
    padding: 3px;
    font-weight: 500;
    gap: 8px;
}

#participants #people {
    overflow: hidden;
    /* 넘치는 텍스트 숨기기 */
    white-space: nowrap;
    /* 텍스트를 한 줄로 유지 */
    cursor: pointer;
    border-radius: 5px;
    background-color: #d9d9d9;
    color: #252525;
    font-weight: 700;
    text-align: right;
    padding: 0 5px 0 30px;
}

header .notice {
    overflow: hidden;
    /* 넘치는 텍스트 숨기기 */
    white-space: nowrap;
    /* 텍스트를 한 줄로 유지 */
    height: 120px;
    width: 54%;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d9d9d9;
    margin-right: 20px;
}

/* 브라우저 창의 너비가 600px 이하일 때 숨김 */
@media screen and (max-width: 880px) {
    .notice {
        display: none;
    }
}

.notice #title {
    overflow: hidden;
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
    height: 25px;
    vertical-align: center;
}

.notice #notice {
    margin: 10px;
    padding: 0 5px 0 5px;
    display: flex;
    overflow: hidden;
    width: auto;
    background-color: #f1f1f1;
    border-radius: 5px;
    align-items: center;
    color: #595959;
    font-size: 16px;
    text-align: center;
}

header .menu {
    display: inline-flex;
    align-items: center;
    height: 120px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d9d9d9;
}

.menu table {
    height: 100%;
    padding: 5px;
}

.menu button {
    cursor: pointer;
    width: 50px;
    /* 버튼 너비 */
    height: 50px;
    /* 버튼 높이 */
    background-color: transparent;
    border: none;
    padding: 5px;
    margin-left: 10px;
    /* 버튼 간의 간격 */
}

header .menu button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*프로필 + 채팅목록*/
.left {
    position: absolute;
    top: 145px;
    left: 0;
    width: 245px;
    height: calc(100vh - 200px);
    margin: 10px 10px 10px 15px;
    padding: 15px;
    display: inline-flex;
    flex-direction: column;
    /* 현재 시간과 참가자 수를 세로로 배치 */
    align-items: center;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d9d9d9;
}

.left .myProfile {
    position: relative;
    padding: 10px;
    margin: 10px;
    width: 80%;
    height: 100px;
    border-radius: 10px;
    background-color: #f1f8ff;
    /* 배경색 */
}

.myProfile #top {
    cursor: pointer;
    overflow: hidden;
    /* 넘치는 텍스트 숨기기 */
    white-space: nowrap;
    /* 텍스트를 한 줄로 유지 */
    display: inline-flex;
    flex-direction: row;
    /*가로 배치 */
    width: 240px;
    gap: 10px;
}

.myProfile #pic {
    width: 55px;
    height: 55px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 137.28px / 132.5px;
    border: 1px solid;
    border-color: #c8c8c8;
    overflow: hidden;
}

.myProfile #pic img {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.myProfile #top #info {
    display: inline-flex;
    flex-direction: column;
    /*세로 배치 */
    white-space: nowrap;
    /* 텍스트를 한 줄로 유지 */
    position: relative;
    height: 100%;
    margin: 3px 3px 3px 3px;
    vertical-align: middle;
    gap: 8px;
}

.myProfile #info div {
    position: relative;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #252525;
    width: fit-content;
    font-weight: 500;
    text-align: left;
    padding: 1px 5px 1px 5px;
}

.myProfile #bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    /*가로 배치 */
    overflow: hidden;
    /* 넘치는 텍스트 숨기기 */
    white-space: nowrap;
    /* 텍스트를 한 줄로 유지 */
    height: 30px;
    text-align: center;
    margin: 10px 10px 0 10px;
    font-size: 16px;
    align-items: center;
    gap: 10px;
}

.myProfile #bottom div {
    cursor: pointer;
    overflow: hidden;
    /* 넘치는 텍스트 숨기기 */
    white-space: nowrap;
    /* 텍스트를 한 줄로 유지 */
    display: inline-block;
    width: 120px;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #252525;
    font-weight: 700;
    text-align: right;
    padding: 1px 10px 1px 10px;
}

.left #rooms {
    position: relative;
    padding: 10px;
    margin: 10px;
    height: 68%;
    width: 90%;
    border-radius: 10px;
    overflow: auto;
    /* 내용이 넘칠 경우 스크롤 가능 */
}

.left .room {
    position: relative;
    cursor: pointer;
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d9d9d9;
}

.room #top {
    position: absolute;
    overflow: hidden;
    /* 넘치는 텍스트 숨기기 */
    white-space: nowrap;
    /* 텍스트를 한 줄로 유지 */
    display: inline-flex;
    flex-direction: row;
    /*가로 배치 */
    width: 150px;
    gap: 10px;
}

.room #pic {
    position: relative;
    width: 55px;
    height: 55px;
    top: 0;
    left: 5px;
    border-radius: 137.28px / 132.5px;
    overflow: hidden;
}

.room #pic img {
    height: auto;
    width: 100%;
    top: 0;
    left: 0px;
}

.room #top #info {
    position: relative;
    overflow: hidden;
    /* 넘치는 텍스트 숨기기 */
    white-space: nowrap;
    /* 텍스트를 한 줄로 유지 */
    display: inline-flex;
    flex-direction: column;
    /*세로 배치 */
    height: 100%;
    margin: 3px 3px 3px 3px;
    vertical-align: middle;
    gap: 8px;
}

.room #info div {
    position: relative;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #252525;
    font-weight: 500;
    width: fit-content;
    text-align: left;
    padding: 1px 5px 1px 5px;
}

.room #bottom {
    position: relative;
    overflow: hidden;
    /* 넘치는 텍스트 숨기기 */
    white-space: nowrap;
    /* 텍스트를 한 줄로 유지 */
    align-items: center;
    justify-content: center;
    /* 가로 가운데 정렬 */
    border-radius: 5px;
    background-color: #d9d9d9;
    color: #252525;
    width: 190px;
    margin: 70px 0 0 0;
    padding: 2px 5px 2px 5px;
    text-align: center;
    font-size: 16px;
}

.left button {
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    /* 가로 가운데 정렬 */
    align-items: center;
    /* 세로 가운데 정렬 */
    bottom: 35px;
    border-radius: 30px;
    border: none;
    transition: box-shadow 0.3s ease;
    /* 효과 전환을 부드럽게 */
    width: fit-content;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    gap: 5px;
}

.left button:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.left button img {
    width: 25px;
    height: auto;
}

.right {
    position: absolute;
    top: 145px;
    left: 305px;
    margin: 10px;
    height: calc(100vh - 165px);
    width: calc(100% - 325px);
    /* 윈도우 너비에 따라 조정 */
    max-width: 1580px;
    /* 최대 너비 제한 */
    display: block;
    overflow-y: auto;
    /*border: 1px solid;
    border-color: #d9d9d9;*/
}

/*화면*/

.screen {
    position: relative;
    height: 550px;
    width: 100%;
    display: inline-flex;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d9d9d9;
}


/*채팅창*/

.bottom {
    position: relative;
    margin-top: 15px;
    height: 200px;
    width: 100%;
    display: inline-flex;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d9d9d9;
    vertical-align: middle;
    align-items: center;
}

.bottom #chatMessages {
    display: flex;
    /* 플렉스박스를 사용 */
    flex-direction: column-reverse;
    /* 채팅이 아래에서 위로 쌓이게 */
    align-self: flex-start;
    margin-top: 10px;
    height: 115px;
    /* 원하는 높이 설정 */
    width: 100%;
    /* 전체 너비 */
    overflow-y: auto;
    /* 메시지가 많으면 스크롤이 가능하게 */
    /*border: 1px solid #ccc;*/
    /* 컨테이너에 테두리 추가 */
    padding: 10px;
}

.bottom #send {
    position: absolute;
    margin-bottom: 0;
    display: inline-flex;
    align-self: flex-end;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.bottom #send button {
    cursor: pointer;
    width: 60px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid;
    border-color: #d9d9d9;
    background-color: #f1f8ff;

}

.bottom button img {
    align-self: center;
    height: 30px;
}

.bottom input {
    align-self: center;
    margin: 0;
    height: 30px;
    width: 88%;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    background-color: #d9d9d9;
    border: none;

}

canvas {
    background-image: url('../img/background.png');
}

/* #endregion */

/* #region about modal */
.roomModalContainer {
    display: none;
    /* 기본적으로 모달을 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    /* 반투명 배경 */
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.roomModalContainer.active {
    display: flex;
}

/* #endregion */

/* #region about mypage */

.mypageScreen {
    display: flex;
    flex-direction: row; /* 좌우로 나란히 배치 */
    width: 100%; /* 화면 너비에 맞춤 */
    box-sizing: border-box;
}

.mypageLeft {
    position: absolute;
    display: inline-flex;
    width: 700px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px #00000040;
}

.mypageRight {
    position: absolute;
    width: 600px;
    height: 450px;
    top: 234px;
    left: 800px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid;
    border-color: #0054ca;
    box-shadow: 0px 4px 4px #00000040;
}

#mypageLeft1 {
    display: inline-flex;
    width: 275px;
    height: 944px;
    border-right: #696969;
    border-right-width: 1px;
}

#mypageLeft2 {
    width: 425px;
    height: 944px;
    border-left: #696969;
    border-left-width: 15px;
}

.mypageScreen .view {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 35px;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 33px;
    gap: 8px;
}

#caption {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 0px;
}

.view img {
    position: relative;
    width: 24px;
    height: 24px;
}

#indicator {
    position: absolute;
    width: 100%;
    height: 2px;
    margin-top: 35px;
    background-color: #65558f;
}

.mypageRight #myProfile {
    position: absolute;
    width: 85px;
    height: 85px;
    top: 116px;
    left: 49px;
    background-color: #ffffff;
    border-radius: 43.3px / 41.79px;
    border: 1px solid;
    border-color: #c8c8c8;
    overflow: hidden;
}

.mypageRight #myProfileImg {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
}

.mypageRight #myName {
    position: absolute;
    width: auto;
    top: 120px;
    left: 160px;
    background-color: #d9d9d9;
    border-radius: 5px;
    color: #595959;
    font-size: 16px;
    padding: 5px;
}

.mypageRight #myNum {
    position: absolute;
    width: auto;
    top: 160px;
    left: 160px;
    background-color: #d9d9d9;
    border-radius: 5px;
    color: #595959;
    font-size: 16px;
    padding: 5px;
}

.mypageRight .group {
    position: absolute;
    width: 300px;
    height: 200px;
    top: 234px;
    left: 108px;
    background-size: 100% 100%;
}

.mypageRight .group div {
    display: flex;
    position: absolute;
    width: auto;
    background-color: #d9d9d9;
    border-radius: 5px;
    align-items: center;
    color: #595959;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
}

.mypageRight #myMajor {
    top: 40px;
}

.mypageRight #myPwd {
    top: 80px;
}

.mypageRight #editButton {
    cursor: pointer;
    gap: 8px;
    display: inline-flex;
    height: 29px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 234px;
    left: 450px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #cac4d0;
}

#editButton:hover {
    background-color: #E6E6E6;
}

#icon {
    position: relative;
    width: 18px;
    height: 18px;
}

#mypageBackButton {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 74px;
    left: 142px;
    background-color: transparent;
    border: none;
}

#arrowBack {
    position: relative;
    width: 70%;
}

.box1 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* 가로 정렬 */
    width: 275px;
    height: 567px;
    top: 170px;
    left: 350px;
}

.buttonList {
    position: absolute;
    width: 226px;
    height: 146px;
    top: 421px;
    left: 24px;
}

#border2 {
    position: absolute;
    width: 226px;
    height: 2px;
    left: 0;
    background-color: #595959;
}

.menuButton1 {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 226px;
    height: 66px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
}

.menuButton1:hover {
    background-color: #E6E6E6;
}

.menuButton1:hover #arrow {
    color: #4a4459;
}

#menuLayer {
    display: flex;
    height: 48px;
    gap: 30px;
    padding: 22px 0px;
    width: 100%;
    align-items: center;
    position: relative;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex-grow: 0.5;
    color: #4a4459;
    margin-top: -1.00px;
    font-size: 20px;
}

#arrow {
    text-align: right;
    color: #ffffff;
}

#mypageNickname {
    display: flex;
    position: absolute;
    width: auto;
    top: 284px;
    background-color: #d9d9d9;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    color: #595959;
    font-size: 20px;
    text-align: center;
}

#mypageMajor {
    display: flex;
    position: absolute;
    width: auto;
    top: 333px;
    background-color: #d9d9d9;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    color: #595959;
    font-size: 20px;
    text-align: center;
}

#mypageProfile {
    position: absolute;
    width: 270px;
    height: 270px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 137.28px / 132.5px;
    border: 1px solid;
    border-color: #c8c8c8;
    overflow: hidden;
}

#mypageFace {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

#logout {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 280px;
}

#logoutButton {
    width: 100px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    color: #ffffff;
    background-color: #EC221F;
    text-align: center;
    line-height: 100%;
}

#logoutButton:hover {
    background-color: #B51310;
}

/* #endregion */